ul#contextMenu.dropdown-menu(role='menu', style='display:none')
    li
        a#menu-details(tabindex='-1', href='#') Детайли
    li
        a#menu-edit(tabindex='-1', href='#') Редактирай
    li.divider
    li
        a#menu-delete(tabindex='-1', href='#') Изтрий
