nav.navbar.navbar-inverse
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href='/')
                i.glyphicon.glyphicon-home
                span Начало
        div.collapse.navbar-collapse
            if signedUser
                ul.nav.navbar-nav
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            i.glyphicon.glyphicon-book
                            span Контакти
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='/people/list') Всички контакти
                            li
                                a(href='/people/addToGroup') Добави контакт в група
                            li
                                a(href='/people/add') Добавяне на контакт
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            i.glyphicon.glyphicon-flag
                            span Групи
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='/groups/add') Добавяне на група
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            i.glyphicon.glyphicon-bullhorn
                            span Оповестяване
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='/inform') Стартиране на оповестяване
                            li
                                a(href='/inform/calls') Текущо оповестяване
                    li.dropdown
                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                            i.glyphicon.glyphicon-cog
                            span Администратор
                            span.caret
                        ul.dropdown-menu
                            li
                                a(href='/users/userList') Всички потребители
                            li
                                a(href='/users/register') Добавяне на потребител
                if signedUser
                    ul.navbar-right.nav.navbar-nav
                        li.navbar-link
                            a(href="#")= signedUser.username
                        li.navbar-link
                            a(href="/users/logout")
                                i.glyphicon.glyphicon-log-out
                                span Излез
            else
                ul.navbar-right.nav.navbar-nav
                    li.navbar-link
                        a(href="/users/login")
                            i.glyphicon.glyphicon-user
                            span Влез