extends ../partials/layout
block content
    script(type='text/javascript', src='../../javascripts/common.js')
    script(type='text/javascript', src='../../javascripts/post-start-calls.js')
    script(type='text/javascript', src='../../javascripts/dataTables.bootstrap.min.js')
    link(rel='stylesheet', href='../../stylesheets/dataTables.bootstrap.min.css')
    //link(rel='stylesheet', href='../../stylesheets/table.css')
    link(rel='stylesheet', href='../../stylesheets/current-calls.css')
    include ../partials/nav-bar
    #infoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog.modal-medium(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Информация за групата:
                .modal-body
                    p User info
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Затвори
    div.form-horizontal
        div.container
            div.panel-group
                div.panel.panel-primary
                    div.panel-heading.panel-heading-black Архив
                    div.panel-body
                        table.data-table.table.table-striped.table-bordered.table-hover
                            thead
                                tr
                                    th №
                                    th Име
                                    th Дата
                                    th Час
                            tbody
                                each log,index in logs
                                    tr(id= log.id)
                                        td.calls-info= index+1
                                        td.calls-info= log.name
                                        td.calls-info= moment(log.dateStarted).format('DD.MM.YYYY')
                                        td.calls-info= moment(log.dateStarted).format('hh.mm.ss')