extends ../partials/layout
block content
    script(type='text/javascript', src='../../javascripts/handlebars-v4.0.5.js')
    script(type='text/javascript', src='../../javascripts/current-calls.js')
    script(type='text/javascript', src='../../javascripts/common.js')
    script(type='text/javascript', src='../../javascripts/datatables.min.js')
    script(type='text/javascript', src='../../javascripts/dataTables.bootstrap.min.js')
    link(rel='stylesheet', href='../../stylesheets/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='../../stylesheets/current-calls.css')
    include ../partials/nav-bar
    div.form-horizontal
        div.container
            div.panel-group
                div.panel.panel-primary
                    div.panel-heading.panel-heading-black Активни оповестявания
                    div.panel-body.template-target
                        div.text-center
                            img(src='/images/ajax-loader.gif')
