extends ../partials/layout
block content
    script(type='text/javascript', src='../../javascripts/common.js')
    script(type='text/javascript', src='../../javascripts/post-start-calls.js')
    script(type='text/javascript', src='../../javascripts/dataTables.bootstrap.min.js')
    link(rel='stylesheet', href='../../stylesheets/dataTables.bootstrap.min.css')
    include ../partials/nav-bar
    #infoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        .modal-dialog(role='document')
            .modal-content
                .modal-header
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                    h4#myModalLabel.modal-title Информация за групата:
                .modal-body
                    p User info
                .modal-footer
                    button.btn.btn-default(type='button', data-dismiss='modal') Затвори
    div.form-horizontal
        div.container
            div.panel-group
                div.panel.panel-primary
                    div.panel-heading.panel-heading-black Групи
                    div.panel-body
                        div.row.margin-bot
                            div.col-lg-9.col-md-9.col-sm-9.col-xs-9 
                                div.col-lg-1.col-md-1.col-sm-1.col-xs-1
                                    label.control-label(for='recording-select') Запис:
                                div.col-lg-2.col-md-2.col-sm-2.col-xs-2
                                    select.form-control(id='recording-select', name='Recording')
                                        option запис 1
                                            option запис 2
                                            option запис 3
                                div.col-lg-2.col-md-2.col-sm-2.col-xs-2
                                    button.btn.btn-default.btn-primary.btn-custom(id='start-button') Оповести
                        table.data-table.table.table-striped.table-bordered.table-hover
                            thead
                                tr
                                    th.checkbox-container.checkbox-col
                                    th №
                                    th.col-xs-4 Име
                                    th Коментар
                                    th Участници
                            tbody
                                each group,index in groups
                                    tr
                                        td.text-center.checkbox-container
                                            input(type='checkbox' id= group.id)
                                        td.group-info= index+1
                                        td.group-info= group.name
                                        td.group-info= group.comment
                                        td.group-info= group.people.length