extends layout
block content
    script(type='text/javascript', src='../../javascripts/jquery-2.2.0.min.js')
    script(type='text/javascript', src='../../javascripts/handlebars-v4.0.5.js')
    script(type='text/javascript', src='../../javascripts/current-calls.js')
    include nav-bar
    div.form-horizontal
        div.container
            div.panel-group
                div.panel.panel-primary
                    div.panel-heading Активни оповестявания
                    div.panel-body.template-target
