extends layout
block content
    script(type='text/javascript', src='../../javascripts/jquery-2.2.0.min.js')
    script(type='text/javascript', src='../../javascripts/common.js')
    script(type='text/javascript', src='../../javascripts/post-start-calls.js')
    script(type='text/javascript', src='../../javascripts/datatables.min.js')
    script(type='text/javascript', src='../../javascripts/dataTables.bootstrap.min.js')
    link(rel='stylesheet', href='../../stylesheets/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='../../stylesheets/common.css')
    include nav-bar
    div.form-horizontal
        div.container
            div.panel-group
                div.panel.panel-primary
                    div.panel-heading Активни оповестявания
                    div.panel-body
