extends partials/layout

block content
  include partials/nav-bar
  div.container.text-center.well
    if signedUser
        h2 Текущ потребител:  #{signedUser.username}
    else
        h2 Mоля влзезте в профила си!