nav.navbar.navbar-default
    div.container-fluid
        div.navbar-header
            a.navbar-brand(href='/') Начало
        div.collapse.navbar-collapse
            ul.nav.navbar-nav
                li
                    a(href='/people') Контакти
                li
                    a(href='/people/add') Добавяне на Контакт
                li
                    a(href='/groups/add') Добавяне на Група
                li
                    a(href='/inform') Оповестяване