extends layout

block content
    link(rel='stylesheet', href='../../stylesheets/login-form.css')
    include nav-bar
    if error
        div.container
            div.alert.alert-danger
                span= error
    div.container.login-form
        div.panel-group
            div.panel.panel-primary
                div.panel-heading.panel-heading-black Register
                div.panel-body
                    form.form-signin(role='form' method="post")
                        span.reauth-email(id="reauth-email")
                        input.form-control(type="email" name='username' id="inputEmail" placeholder="Email address" required autofocus)
                        input.form-control(type="password" name='password' id="inputPassword" placeholder="Password" required)
                        button.btn.btn-lg.btn-primary.btn-block.btn-signin.btn-custom(type="submit") Register


