<div>
    {{#each calls}}
    <div class="container call-info">
        {{#if isWaiting}}
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">{{endPoint}}</div>
                <div class="panel-body">
                    <p><strong>Waiting...</strong></p>
                </div>
            </div>
        </div>
        {{else if isDialing}}
        <div class="panel-group">
            <div class="panel panel-warning">
                <div class="panel-heading">{{endPoint}}</div>
                <div class="panel-body">
                    <p><strong>Dialing...</strong></p>
                </div>
            </div>
        </div>
        {{else if isAnswered}}
        <div class="panel-group">
            <div class="panel panel-success">
                <div class="panel-heading">{{endPoint}}</div>
                <div class="panel-body">
                    <p><strong>Answered!</strong></p>
                </div>
            </div>
        </div>
        {{else if isUnAnswered}}
        <div class="panel-group">
            <div class="panel panel-danger">
                <div class="panel-heading">{{endPoint}}</div>
                <div class="panel-body">
                    <p><strong>Not Answered!</strong></p>
                </div>
            </div>
        </div>
        {{/if}}
    </div>
    {{/each}}
</div>
