table th.checkbox-col{
	width: 1%;
}

table th.name-col{
	width: 18%;
}

table th.job-col{
	width: 17%;
}

table th.number-col{
	width: 8%;
}

table th.title-col{
	width: 13%;
}
table th.groups-col{
	width: 40%;
}