extends ../partials/layout
block content
    script(type='text/javascript', src='../../javascripts/dataTables.bootstrap.min.js')
    script(type='text/javascript', src='../../javascripts/common.js')
    script(type='text/javascript', src='../../javascripts/people-list.js')
    link(rel='stylesheet', href='../../stylesheets/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='../../stylesheets/table.css')
    include ../partials/nav-bar
    include ../partials/context-menu.jade
    include ../partials/person-edit-modal
    include ../partials/confirm-delete-modal.jade
    div.form-horizontal
        div.container
            div.panel-group
                div.panel.panel-primary
                    div.panel-heading.panel-heading-black Контакти
                    div.panel-body
                        table.data-table.table.table-striped.table-bordered.table-hover
                            thead
                                tr
                                    th.id-col
                                    th.number-col №
                                    th.title-col Титла
                                    th.name-col Име
                                    th.name-col Презиме
                                    th.name-col Фамилия
                                    th.job-col Длъжност
                                    th.groups-col Групи