extends ../partials/layout
block content
    script(type='text/javascript', src='../../javascripts/dataTables.bootstrap.min.js')
    script(type='text/javascript', src='../../javascripts/people-list-group.js')
    script(type='text/javascript', src='../../javascripts/common.js')
    link(rel='stylesheet', href='../../stylesheets/table.css')
    link(rel='stylesheet', href='../../stylesheets/dataTables.bootstrap.min.css')
    include ../partials/nav-bar
    div.form-horizontal
        div.container
            div.panel-group
                div.panel.panel-primary
                    div.panel-heading.panel-heading-black Добавяне на контакт в група
                    div.panel-body
                        table.data-table.table.table-striped.table-bordered.table-hover
                            thead
                                tr
                                    th.id-col
                                    th.number-col №
                                    th.title-col Титла
                                    th.name-col Име
                                    th.name-col Презиме
                                    th.name-col Фамилия
                                    th Длъжност
                                    th.groups-col Групи
                    div.panel-footer.panel-default
                        div.row
                            div.col-lg-12
                                div.col-lg-2
                                    label.control-label(for='group-select') Добавяне в група:
                                div.col-lg-4
                                    select.form-control(id='group-select', name='Group')
                                        each group in groups
                                            option(value= group.id)= group.name
                                div
                                    button.btn.btn-default.btn-primary.btn-custom.pull-right(id='add-button') Добави