extends ../partials/layout

block content
    include ../partials/nav-bar
    form.form-horizontal(role='form', method="post")
        div.container
            div.panel-group
                div.panel.panel-primary
                    div.panel-heading.panel-heading-black Добавяне на група
                    div.panel-body
                        div.row
                            div.col-lg-5.col-md-5.col-sm-12.col-xs-12
                                h4 Данни за групата:
                                div.form-group
                                    label.col-sm-2.control-labe(for='name') Име:*
                                    div.col-sm-10
                                        input.form-control(type='text', id='name', name='name' required)
                                div.form-group
                                    label.col-sm-2.control-labe(for='comment') Коментар:
                                    div.col-sm-10
                                        input.form-control(type='text', id='comment', name='comment')
                    div.panel-footer.panel-default
                        div.row
                            div.col-lg-12
                                button.btn.btn-default.btn-primary.col-lg-2.btn-custom.pull-right(type='submit') Запази