extends ../partials/layout
block content
    script(type='text/javascript', src='../../javascripts/common.js')
    script(type='text/javascript', src='../../javascripts/groups-list.js')
    script(type='text/javascript', src='../../javascripts/dataTables.bootstrap.min.js')
    link(rel='stylesheet', href='../../stylesheets/dataTables.bootstrap.min.css')
    link(rel='stylesheet', href='../../stylesheets/table.css')
    include ../partials/nav-bar
    include ../partials/group-edit-modal.jade
    include ../partials/context-menu.jade
    include ../partials/confirm-delete-modal.jade
    div.form-horizontal
        div.container
            div.panel-group
                div.panel.panel-primary
                    div.panel-heading.panel-heading-black Групи
                    div.panel-body
                        table.data-table.table.table-striped.table-bordered.table-hover
                            thead
                                tr
                                    th.id-col
                                    th.number-col №
                                    th.col-xs-4 Име
                                    th Коментар
                                    th Участници